@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

.container
{
    max-width: 700px;
    padding: 40px 40px 25px 40px;
    border-radius: 10px; 
    box-shadow: 5px 5px 35px 8px rgb(147, 158, 147); 
    background-color: rgb(93, 135, 226);
    margin-top: 2%;
    margin-bottom: 50px;
}
input{
    border-radius: 12px;
    margin-top: 8px;
}
.textual
{
    color: rgb(7, 8, 82); 
    text-align: center; 
    margin-top: -20px;
        padding: 5px;
    font-weight: bolder;
    font-size: 28px;
    text-transform: uppercase;
}
label{
    margin-top: 10px;
    font-family: 'Volkhov', serif;
    letter-spacing: 0px;
    font-size: medium;
}
.registerbtn
{
    background-color: transparent;
    padding-left: 8%;
    padding-right: 8%;
    margin: auto;  
    padding-bottom: 7px;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(7, 8, 82);
    border: 1px solid rgb(7, 8, 82);
}
.registerbtn:hover
{
    background-color: rgb(7, 8, 82);
    padding-left: 7%;
    padding-right: 7%;
    cursor: pointer;
    color: white;
}